{{define "main"}}
<div class="single">
  <div class="singleHead">
    <div class="singleHeadText">
      <h2 class="singleHeadTitle">{{.Title}}</h2>
      <div class="singleHeadDetail">
        <img
          src="{{.Params.avatar}}"
          loading="lazy"
          alt=""
          class="singleAvatar" />
        <span
          >{{range (.GetTerms "authors")}}
          <a href="{{.Permalink}}">{{.Name}}</a>
          {{end}}</span
        >
        {{range (.GetTerms "categories")}}
        <a href="{{.Permalink}}" class="singleCategory">{{.Name}}</a>
        {{end}}
        <time>{{ dateFormat .Site.Params.dateFormat .Date}}</time>
      </div>
    </div>
  </div>
  <div class="singleBottom">
    <div class="singleContent">{{.Content}}</div>
    <div class="singleRightBar">{{ partial "rightBar" .}}</div>
  </div>
</div>
{{end}}
