<nav class="navbar">
  <div class="logo">
    <img class="signal-focused-logo" src="/images/signal-focused.png" alt="" />
    <a href="/">SIGNAL FOCUSED</a>
  </div>
  <div class="links">
    <div class="toggleButton">MODE</div>
    <a href="/">Home</a>
    <a href="/categories">Categories</a>

    {{/*
    <div class="searchButton">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24px"
        height="24px"
        viewBox="0 0 16 16">
        <path
          fill="white"
          d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0a5.5 5.5 0 0 1 11 0" />
      </svg>
      <span>Search</span>
    </div>
    */}}
  </div>
</nav>
